	<!-- banner 开始 -->
				<div class="bottom_banner">
					<ul>
						<li class="right_border"><a href="">系统管理</a></li>
						<li class="right_border"><a href="">金山毒霸</a></li>
						<li class="right_border"><a href="">数字证书申请</a></li>
						<li class="right_border"><a href="">一机两用注册</a></li>
						<li class="right_border"><a href="">二手机系统</a></li>
						<li class="right_border"><a href="">生活资讯</a></li>
						<li class="right_border"><a href="">安全管理平台</a></li>
						<li class="right_border"><a href="">电子邮局</a></li>
						<li class="right_border"><a href="">FTP空间</a></li>
						<li class="right_border"><a href="">终端安全助手</a></li>
						<li><a href="">故障申告</a></li>
					</ul>
				</div>
				<!-- banner 结束 -->
	
				<!-- bottom 开始 -->
				<div class="bottom">
					COPYRIGHT版权所有 设计开发：公安局信息通信处&信息中心
				</div>
				<!-- bottom 结束 -->
	
				<!-- 左上角弹出窗 开始 -->
				<!--<div class="left_top_box">
					<div class="left_top_box_title">
						<font>公安局提示您</font><span></span>
					</div>
					<div class="left_top_box_content">
						生活和工作，不仅是眼前的忙碌，还有诗和远方……自从穿上警服后，似乎不再为自己的安危担忧，心里面惦记的总是“只要当事人没事就好，只要辖区不要发生交通事故就好”。你问我为什么？因为我知道“为别人就是为自己”。这是石嘴山交警分局七大队民警马涛在“寻石嘴山最美交警”活动中的工作感悟。盛夏时节，石嘴山交警分局在官方微信平台上开展了“寻石嘴山最美交警”评选活动，在火热的季节引爆了微信朋友圈。
	为展示石嘴山交通警察队伍形象，传递公安正能量，挖掘、发现、培养一批扎根基层、兢兢业业，任劳任怨、服务群众的先进典型，提高“两学一做”学习教育的感染力，石嘴山交警分局自6月27日至7月11日在官方微信平台开展了“寻石嘴山最美交警”评选活动，通过“寻找——发现——评选——表彰”多个环节，以“微故事”、“微体会”的形式，讲述交警好故事，传播交警好声音，唱响热爱石嘴山、建设石嘴山、奉献石嘴山的主旋律。此次初选的44名候选人由石嘴山市公安局交通警察分局所属各科所队推荐，通过在“石嘴山交警”微信平台上经广大网友票选，在全市交通民警中推选出长期默默坚守在一线，在平凡岗位中做出不平凡业绩的好民警好协警。他们当中既有理想照进现实的科班生，也有怀揣梦想有颜值有担当的90后，还有在公安战线奋战近三十年的老民警，他们有梦想，有故事，更有追求。活动首日，警察蓝的简洁设计风格，选手们生活和工作照片的多彩展现，个人感悟和工作求索的直白吐露，和以往常见的大头照附上工作简历的投票活动有所不同，吸引了众多网民来围观点赞，当日石嘴山交警官方微信平台的网页点击率突破了10万，“寻石嘴山最美交警”网上投票在微信朋友圈上连续多次刷屏，尤其晚上的黄金时段投票通道一度拥堵，由于页面查看人数众多超过系统分配上限，1分钟后才能进入投票页面，尽管在整个活动中每个微信用户只能参与一次投票，仍不乏众多网民的踊跃参与和朋友圈的分享。自活动以来，“寻石嘴山最美交警”共吸引30余万网民来围观，在石嘴山市78万的人口中，至少每3个人当中就有1人参与了投票活动。
					</div>
				</div>-->
				<!-- 左上角弹出窗 结束 -->
	
				<!-- 中间漂浮的广告图 开始 -->
				<!--<div class="middle_box">
					<img src="img/middle_box_PIC.jpg" />
					<span></span>
				</div>-->
				<!-- 中间漂浮的广告图 结束 -->
			</div>
		</div>
		<!-- main 结束 -->
	</body>
</html>